.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  position: relative;
  margin-bottom: 8px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  /* font-family: Roboto, Arial; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 32px;
  }
}

@media (max-width: 751px) and (min-width: 1199px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
  }
}

@media (min-width: 1200px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 48px;
  }
}

.video-time {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  bottom: 8px;
  right: 5px;
  padding: 4px;
  border-radius: 2px;
}

.channel-picture .channel-picture-tooltip {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 10px 20px 10px 15px;
  border-radius: 4px;
  font-size: 12px;
  font-family: Roboto, Arial;
  top: 50px;
  left: 3px;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  pointer-events: none;
  text-wrap: nowrap;
  z-index: 100;
  box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.2);
}

.channel-picture:hover .channel-picture-tooltip {
  opacity: 1;
}

.tooltip-thumbnail {
  width: 40px;
  border-radius: 50%;
  margin-top: 2px;
}
.tooltip-box-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 2px;
}

.tooltip-info-name {
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin-left: 7px;
  margin-top: 3px;
}
.tooltip-info-subs {
  color: rgb(96, 96, 96);
  font-size: 12px;
  margin-left: 7px;
  margin-top: 2px;
}
